* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navBar {
  background-color: transparent;
}

.carousel-caption {
  padding-bottom: 1rem;
}
.red {
  color: #fd4a36;
}
.grey {
  color: #a5a6aa;
}
.dark {
  background: #292b2c;
}
.back-white {
  background-color: #f8f8f8;
  height: 36rem;
}
.back-partner {
  display: block;
  position: relative;
  background: var(--dark, #292b2c);
  border-top: 4px solid #fd4a36;
  border-bottom: 4px solid #fd4a36;
}
.dark-gray {
  color: #8a8a8a;
}
.profile-img {
}
.eclipse-fill {
  background: rgba(255, 116, 38, 0.1);
}
.box {
  padding: 1rem 2rem;
  padding-left: 3rem;
  display: flex;
  /* border: 2px solid black; */
  position: relative;
  z-index: 1;
  /* margin: 10px -150px; */
  margin-left: -23rem;
  justify-content: center;
  align-items: center;
  width: 23rem;
  height: 14rem;
  top: 418px;
  background: #1f242e;
}
.dark-blue {
  color: #1f242e;
}
.circle::after {
  content: "";
  position: absolute;
  background: url("./Images/left-top.png") no-repeat;
  width: 26%;
  margin-top: 55%;
  height: 142%;
  z-index: -1;
}
.rcircle::before {
  content: "";
  position: absolute;
  background: url("./Images/rigth-end.png") no-repeat;
  width: 28%;
  margin-top: 110%;
  height: 142%;
  /* top: 0%; */
  left: 65%;
  z-index: -1;
}
.background-effect {
  background: linear-gradient(
    271deg,
    #fff 0.71%,
    rgba(217, 217, 217, 0) 76.09%
  );
}
.back-lego {
  background: url("./Images/lego.png") no-repeat;
}
.slick-slider {
  /* margin: 0rem 5rem; */
  /* overflow: hidden; */
  width: 82%;
  margin-left: 8rem;
  /* padding-left: 10rem; */
}
.slick-slide > div {
  margin: 0px 5rem;
}
.glow:hover {
  transform: scale(1.2);
  box-shadow: 0 0 15px #fd4a36;
  /* filter: blur(3px); */
  text-shadow: 0 0 15px #fd4a36;
}
.custom-nav {
  position: absolute;
  top: 1rem;
  z-index: 3;
  width: 72%;
}
.nav-glow :hover {
  border-bottom: 2px solid #fd4a36;
  width: 5rem;
}
.card-glow:hover {
  box-shadow: 0 0 15px #fd4a36;
}
.swiper-slide {
  padding: 4rem 6rem;
  margin: 0 -1rem;
}
.swiperbutton {
  position: absolute;
  z-index: 3;
  width: 100%;
  margin: -19rem 0rem;
  /* background: black; */
  /* background-color: black; */
}
.swiper-wrapper {
  margin: 0rem 2rem;
}
